doctype html
head
    meta(charset='utf-8')
    title Strona g&lstrok;&oacute;wna
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(property='og:title' content='')
    meta(property='og:type' content='')
    meta(property='og:url' content='')
    meta(property='og:image' content='')
    link(rel='manifest' href='site.webmanifest')
    link(rel='apple-touch-icon' href='icon.png')

    link(rel='stylesheet' href='css/normalize.css')
    link(rel='stylesheet' href='css/main.css')
    meta(name='theme-color' content='#fafafa')

#first
    a(href='/guest')
        img(src='images/przycisk join.png' width='350')
    br
    br
    a(href='/host')
        img(src='images/create room.png' width='350')
