doctype html
head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='css/normalize.css')
    link(rel='stylesheet' href='css/main.css')
    title Pok&oacute;j studenta
    header
        h1 #{username}
#users_in_queue
    h2 W kolejce:
#join_to_queue
    h2 Zadania do zrobienia
#my_exercise
    h2 Moja deklaracja:
    p Zadanie {adnotacja do wybranego zadania}
    button Wycofaj si&eogon;
